_Aberdeen
_Belfast
_Cambridge
_Cardiff
_Christie
_Dundee
_Edinburgh
_Glasgow
_Leeds
_Manchester
_Newcastle
_N-Staffs
_Oxford
_RoyalSurrey
_Sheffield
_StThomas
_UCL-UCLH
_WMIC
Analyze
AnalyzeImages
CT_AllCentres
CT_IQ_test
NiftiImages
spm12
z_Photos
*.tmp
./5A16B320
MISC
GN/DICOM_header_info.csv
GN/DICOM_header_info_adj.csv